<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>月亮代表我的心</title>
  <script src="./javascripts/jweixin-1.2.0.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./javascripts/vue.min.js"></script>
  <script src="./javascripts/jquery-3.2.1.min.js"></script>
  <script src="./javascripts/jquery.danmu.js"></script>
  <script src="./javascripts/wechatmanager.js"></script>
  <link rel="stylesheet" href="./style.css?1">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <!-- <link rel="stylesheet" href="./swiper-3.4.2.min.css"> -->
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body>

  <div id="app">
    <div class="mycontainer wrap">

        <!-- 第一页 -->

        <div class="page-one item ">
            <button v-on:click="click_moon" class="">
                    <!-- 点击月亮 -->
            </button>

        </div>

        <!-- 第二页 -->
        <div class="page-two item" id="page2" hidden=true>

          <img src="images/carma.png" v-on:click="click_crama">

        </div>


        <!-- 第三页 -->
        <div class="page-three item" id="page3" hidden=true>

          <div class="empty"></div>

          <div class="pre-say-contianer">


            <div class="showwordempty">

            </div>

            <div class="showwords">
              <p>
                  <%= words %>
              </p>
            </div>
          </div>

          <div class="sharePerson">
              
            <span><img src="<%= avator %>" alt=""><%= nickname %></span>
          </div>

          <div class="tips">
            <h5>#是不是有什么话想对某人说，让月亮帮你送达吧!#</h5>
          </div>

          <button v-on:click="click_send" class=" click_send">
                </button>
        </div>

        <!-- 第四页 -->
        <div class="page-four item" id="page4" hidden=true>

          <div class="empty"></div>

          <div class="pre-say-contianer">

            <div class="showwordempty">

            </div>
            <div class="input-content">
              <input type="text" class="form-control" placeholder="要来一发吗？" aria-describedby="basic-addon1">
            </div>

            <div class="shareTips">
              <h5>输入完成后点击右上角分享至朋友或朋友圈</h5>
            </div>

          </div>
          <!-- 弹幕区 -->
          <div class="danmuArea">
            <!-- <div id="danmu"></div> -->
          </div>

          <div class="footer">
            <div class="footer-contianer">
              <h5><img src="./images/bearlogo.png" alt="">谷熊科技--链接这座城市每个人的故事</h5>
            </div>
          </div>

        </div>
      </div>

  </div>

  <!-- <script src="./javascripts/swiper-3.4.2.min.js"></script> -->
  <script src="./javascripts/iSlider.js"></script>
  <script src="./javascripts/content.js"></script>
  



</body>

</html>
<script src="danmu_words.js"></script>
<script src="static/js/jquery-1.9.1.min.js" ></script>
<script src="dist/js/jquery.barrager.js" type="text/javascript"></script>
<script src="danmu.js" ></script>


<script>

      //***************************************************************** */
// 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
wx.onMenuShareTimeline({
  title: "中秋了，想说点啥", // 分享标题
  link: "http://www.id-bear.com/node/moon/moon?name=小明&words=我想对你说", // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
  imgUrl: "images/sharedavator.jpg", // 分享图标
  success: function() {
    // 用户确认分享后执行的回调函数
    console.log('确认分享到朋友圈');
    alert('用户确认分享');
  },
  cancel: function() {
    // 用户取消分享后执行的回调函数
    console.log('取消分享到朋友圈');
    alert('用户取消分享');
  }
});

</script>